[Unit]
Description=System update initialize service
Requires=sysinit.target
After=sysinit.target
Before=sdbd.service

[Service]
Type=oneshot
ExecStart=/system-update/update-init.sh
