[Unit]
Description=System update script service
Requires=sysinit.target
After=sysinit.target init-update.service

[Service]
Type=simple
ExecStart=/system-update/update.sh
